/data/*
/data.tar.gz

/part1_basics/00_simple_job_submission/output/*
/part1_basics/01_fastq_2_vcf_pipeline/00_clean_fastq/output/*
/part1_basics/01_fastq_2_vcf_pipeline/01_BAM/output/*
/part1_basics/01_fastq_2_vcf_pipeline/02_BAM_deduplicated/output/*
/part1_basics/01_fastq_2_vcf_pipeline/03_VCF/output/*

/part2_snakemake/simple_wildcards/.snakemake/*
/part2_snakemake/fastq_2_VCF/.snakemake/*
/part2_snakemake/simple/.snakemake/*
/part2_snakemake/fastq_2_VCF/output/*

snakemake_profiles/slurm/__pycache__/*

/part3_snparcher/snpArcher
/part3_snparcher/results/*
/part3_snparcher/logs/*
/part3_snparcher/benchmarks/*
/part3_snparcher/.snakemake/*